<ion-content [fullscreen]="true" class="ql-page-center">
    <div class="doc-body ql-animate-fade-in">
        <div *ngIf="step === 1">
            <span class="ql-h1">{{ 'ONBOARDING.STEP1_TITLE' | translate }}</span>
            <p class="ql-body">{{ 'ONBOARDING.STEP1_BODY' | translate }}</p>
        </div>

        <div *ngIf="step === 2">
            <span class="ql-h1">{{ 'ONBOARDING.STEP2_TITLE' | translate }}</span>
            <p class="ql-body">{{ 'ONBOARDING.STEP2_BODY' | translate }}</p>
        </div>

        <div *ngIf="step === 3">
            <span class="ql-h1">{{ 'ONBOARDING.STEP3_TITLE' | translate }}</span>
            <p class="ql-body">{{ 'ONBOARDING.STEP3_BODY' | translate }}</p>
        </div>

        <div style="margin-top: 4rem;">
            <button class="ql-btn-primary" (click)="nextStep()">
                {{ step === 3 ? ('ONBOARDING.GET_STARTED' | translate) : ('ONBOARDING.NEXT' | translate) }}
            </button>
        </div>
    </div>
</ion-content>